@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --secondary-foreground: #ffffff;
  --blue-gradient: linear-gradient(90deg, #063CA9 0%, #0052FF 100%);
  --primary-color: #063CA9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  display: inline-block;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
